/************************************************************************************
SVG image editor global styles
*************************************************************************************/
/* line 6, ../scss/svgImageEditor.scss */
#phantomSize {
  padding: 0 !important;
}

/* line 13, ../scss/svgImageEditor.scss */
#imageEditor {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 5;
  position: absolute;
  top: 0;
  touch-action: none;
  -webkit-user-drag: none;
}
/* line 24, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer .resizable-group,
#imageEditor svg g.layer .rotatable-group,
#imageEditor svg g.layer .flip-group,
#imageEditor svg g.layer .remove-group {
  display: none;
}
/* line 29, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active {
  z-index: 999;
}
/* line 32, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .draggable-handle {
  opacity: 1;
  fill: #ffffff;
  stroke: #333333;
}
/* line 38, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .rotatable-group {
  display: block;
}
/* line 41, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .rotatable-group .rotatable-handle {
  cursor: alias;
}
/* line 44, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .rotatable-group .rotatable-handle path {
  fill: #ffffff;
  stroke: #333333;
  stroke-width: 70;
  stroke-miterlimit: 70;
}
/* line 53, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .resizable-group {
  display: block;
}
/* line 56, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .resizable-group line {
  stroke: #333333;
  stroke-width: 2;
  -moz-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}
/* line 62, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .resizable-group rect {
  fill: transparent;
}
/* line 64, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .resizable-group g:hover line, #imageEditor svg g.layer.active .resizable-group g.active line {
  stroke: #959595;
}
/* line 69, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .flip-group {
  display: block;
}
/* line 72, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .flip-group .flip-handle {
  cursor: pointer;
}
/* line 75, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .flip-group .flip-handle path {
  fill: #ffffff;
  stroke: #333333;
  stroke-width: 70;
  stroke-miterlimit: 70;
}
/* line 84, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .remove-group {
  display: block;
}
/* line 87, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .remove-group .remove-handle {
  cursor: pointer;
}
/* line 90, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.active .remove-group .remove-handle path {
  fill: #ffffff;
  stroke: #333333;
  stroke-width: 70;
  stroke-miterlimit: 70;
}
/* line 100, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer image {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 108, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.vertical image, #imageEditor svg g.layer.vertical .image g {
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}
/* line 112, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.horizontal image, #imageEditor svg g.layer.horizontal .image g {
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
/* line 116, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer.horizontal.vertical image, #imageEditor svg g.layer.horizontal.vertical .image g {
  -moz-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
/* line 120, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer .draggable-handle {
  opacity: 0;
}
/* line 126, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="n"] .resizable-group g.ul-resizable-handle, #imageEditor svg g.layer[data-orientation="s"] .resizable-group g.ul-resizable-handle {
  cursor: nwse-resize;
}
/* line 127, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="n"] .resizable-group g.ur-resizable-handle, #imageEditor svg g.layer[data-orientation="s"] .resizable-group g.ur-resizable-handle {
  cursor: nesw-resize;
}
/* line 128, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="n"] .resizable-group g.ll-resizable-handle, #imageEditor svg g.layer[data-orientation="s"] .resizable-group g.ll-resizable-handle {
  cursor: nesw-resize;
}
/* line 129, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="n"] .resizable-group g.lr-resizable-handle, #imageEditor svg g.layer[data-orientation="s"] .resizable-group g.lr-resizable-handle {
  cursor: nwse-resize;
}
/* line 134, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="e"] .resizable-group g.ul-resizable-handle, #imageEditor svg g.layer[data-orientation="w"] .resizable-group g.ul-resizable-handle {
  cursor: nesw-resize;
}
/* line 135, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="e"] .resizable-group g.ur-resizable-handle, #imageEditor svg g.layer[data-orientation="w"] .resizable-group g.ur-resizable-handle {
  cursor: nwse-resize;
}
/* line 136, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="e"] .resizable-group g.ll-resizable-handle, #imageEditor svg g.layer[data-orientation="w"] .resizable-group g.ll-resizable-handle {
  cursor: nwse-resize;
}
/* line 137, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="e"] .resizable-group g.lr-resizable-handle, #imageEditor svg g.layer[data-orientation="w"] .resizable-group g.lr-resizable-handle {
  cursor: nesw-resize;
}
/* line 142, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="ne"] .resizable-group g.ul-resizable-handle {
  cursor: n-resize;
}
/* line 143, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="ne"] .resizable-group g.ur-resizable-handle {
  cursor: e-resize;
}
/* line 144, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="ne"] .resizable-group g.ll-resizable-handle {
  cursor: w-resize;
}
/* line 145, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="ne"] .resizable-group g.lr-resizable-handle {
  cursor: s-resize;
}
/* line 149, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="se"] .resizable-group g.ul-resizable-handle {
  cursor: e-resize;
}
/* line 150, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="se"] .resizable-group g.ur-resizable-handle {
  cursor: s-resize;
}
/* line 151, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="se"] .resizable-group g.ll-resizable-handle {
  cursor: n-resize;
}
/* line 152, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="se"] .resizable-group g.lr-resizable-handle {
  cursor: w-resize;
}
/* line 156, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="sw"] .resizable-group g.ul-resizable-handle {
  cursor: s-resize;
}
/* line 157, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="sw"] .resizable-group g.ur-resizable-handle {
  cursor: w-resize;
}
/* line 158, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="sw"] .resizable-group g.ll-resizable-handle {
  cursor: e-resize;
}
/* line 159, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="sw"] .resizable-group g.lr-resizable-handle {
  cursor: n-resize;
}
/* line 163, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="nw"] .resizable-group g.ul-resizable-handle {
  cursor: w-resize;
}
/* line 164, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="nw"] .resizable-group g.ur-resizable-handle {
  cursor: n-resize;
}
/* line 165, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="nw"] .resizable-group g.ll-resizable-handle {
  cursor: s-resize;
}
/* line 166, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer[data-orientation="nw"] .resizable-group g.lr-resizable-handle {
  cursor: e-resize;
}
/* line 171, ../scss/svgImageEditor.scss */
#imageEditor svg g.layer .image-editor-text .image-editor-text-container {
  display: table-cell;
  vertical-align: middle;
  background: transparent;
  border: none;
  box-sizing: border-box;
  white-space: pre-line;
  padding: 0;
  line-height: inherit;
}
/* line 185, ../scss/svgImageEditor.scss */
#imageEditor .testing {
  padding-top: 20px;
  display: none;
}
/* line 189, ../scss/svgImageEditor.scss */
#imageEditor .testing .layersDump ul li {
  margin-bottom: 10px;
  border: 1px solid gray;
  padding: 5px;
}
/* line 195, ../scss/svgImageEditor.scss */
#imageEditor .testing .layersDump ul li.active {
  background: #85c17b;
}
/* line 199, ../scss/svgImageEditor.scss */
#imageEditor .testing .layersDump ul li button.delete-layer {
  margin-top: -10px;
}
