/************************************************************************************
SVG image editor global styles
*************************************************************************************/
#phantomSize {
  padding: 0 !important;
}

#imageEditor {
  svg  {
    g.layer{

      .resizable-group,
      .rotatable-group {
        display: none;
      }

      &.active {
        z-index: 999;
        .draggable-handle { opacity: 1; }

        .rotatable-group {
          display: block;

          .rotatable-handle {
            cursor: alias;
          }
        }

        .resizable-group {
          display: block;
        }

        circle, rect, line {
          fill: #ffffff;
          stroke: #333333;
        }
      }

      .draggable-handle {
        opacity: 0;
      }

      &[data-orientation="n"] .resizable-group,
      &[data-orientation="s"] .resizable-group {
        rect.ul-resizable-handle { cursor: nwse-resize; }
        rect.ur-resizable-handle { cursor: nesw-resize; }
        rect.ll-resizable-handle { cursor: nesw-resize; }
        rect.lr-resizable-handle { cursor: nwse-resize; }
      }

      &[data-orientation="e"] .resizable-group,
      &[data-orientation="w"] .resizable-group {
        rect.ul-resizable-handle { cursor: nesw-resize; }
        rect.ur-resizable-handle { cursor: nwse-resize; }
        rect.ll-resizable-handle { cursor: nwse-resize; }
        rect.lr-resizable-handle { cursor: nesw-resize; }
      }


      &[data-orientation="ne"] .resizable-group {
        rect.ul-resizable-handle { cursor: n-resize; }
        rect.ur-resizable-handle { cursor: e-resize; }
        rect.ll-resizable-handle { cursor: w-resize; }
        rect.lr-resizable-handle { cursor: s-resize; }
      }

      &[data-orientation="se"] .resizable-group {
        rect.ul-resizable-handle { cursor: e-resize; }
        rect.ur-resizable-handle { cursor: s-resize; }
        rect.ll-resizable-handle { cursor: n-resize; }
        rect.lr-resizable-handle { cursor: w-resize; }
      }

      &[data-orientation="sw"] .resizable-group {
        rect.ul-resizable-handle { cursor: s-resize; }
        rect.ur-resizable-handle { cursor: w-resize; }
        rect.ll-resizable-handle { cursor: e-resize; }
        rect.lr-resizable-handle { cursor: n-resize; }
      }

      &[data-orientation="nw"] .resizable-group {
        rect.ul-resizable-handle { cursor: w-resize; }
        rect.ur-resizable-handle { cursor: n-resize; }
        rect.ll-resizable-handle { cursor: s-resize; }
        rect.lr-resizable-handle { cursor: e-resize; }
      }
    }

  }

  .testing {
    padding-top: 20px;
    display: none;

    .layersDump ul li {
      margin-bottom: 10px;
      border: 1px solid gray;
      padding: 5px;
    }

    .layersDump ul li.active {
      background: #85c17b;
    }

    .layersDump ul li button.delete-layer {
      margin-top: -10px;
    }
  }
}