<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>SVG image editor</title>

    <!--<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- base svgImageEditor styles -->
    <link href="css/svgImageEditor.css" rel="stylesheet" />

    <!-- demo styles -->
    <link href="demo/css/select2.min.css" rel="stylesheet" />
    <link href="demo/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="demo/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="demo/css/demo.css" rel="stylesheet" />
</head>

<body>

<header class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header"><a class="navbar-brand" href="#">SVG image editor</a></div>
    </nav>
</header>

<script type="text/template" id="constructorLayer">
    <g xmlns="http://www.w3.org/2000/svg">
        <rect class="draggable-handle" fill-opacity="0" stroke-width="<%=strokeSize%>" stroke-miterlimit="<%=strokeSize%>" stroke-dasharray="5,5" width="200" height="200"/>

        <g class="resizable-group">

            <g class="ul-resizable-handle">
                <line x1="0" y1="-0.5" x2="0" y2="<%=handleSize%>"></line>
                <line x1="-0.4" y1="0" x2="<%=handleSize%>" y2="0"></line>
                <rect width="<%=handleSize%>" height="<%=handleSize%>"/>
            </g>

            <g class="ur-resizable-handle">
                <line x1="<%=handleSize%>" y1="-0.5" x2="<%=handleSize%>" y2="<%=handleSize%>"></line>
                <line x1="-0.4" y1="0" x2="<%=handleSize%>" y2="0"></line>
                <rect width="<%=handleSize%>" height="<%=handleSize%>"/>
            </g>

            <g class="ll-resizable-handle">
                <line x1="0" y1="-0.5" x2="0" y2="<%=handleSize%>"></line>
                <line x1="-0.5" y1="<%=handleSize%>" x2="<%=handleSize%>" y2="<%=handleSize%>"></line>
                <rect width="<%=handleSize%>" height="<%=handleSize%>"/>
            </g>

            <g class="lr-resizable-handle">
                <line x1="<%=handleSize%>" y1="-0.5" x2="<%=handleSize%>" y2="<%=handleSize%>"></line>
                <line x1="-0.5" y1="<%=handleSize%>" x2="<%=handleSize%>" y2="<%=handleSize%>"></line>
                <rect width="<%=handleSize%>" height="<%=handleSize%>"/>
            </g>
        </g>

        <g class="rotatable-group">
            <svg class="rotatable-handle" width="20" height="20" viewBox="0 0 1792 1792" x="<%=rotationHandleXOffset%>" y="<%=rotationHandleYOffset%>" xmlns="http://www.w3.org/2000/svg">
                <path d="M1664 256v448q0 26-19 45t-45 19h-448q-42 0-59-40-17-39 14-69l138-138q-148-137-349-137-104 0-198.5 40.5t-163.5 109.5-109.5 163.5-40.5 198.5 40.5 198.5 109.5 163.5 163.5 109.5 198.5 40.5q119 0 225-52t179-147q7-10 23-12 14 0 25 9l137 138q9 8 9.5 20.5t-7.5 22.5q-109 132-264 204.5t-327 72.5q-156 0-298-61t-245-164-164-245-61-298 61-298 164-245 245-164 298-61q147 0 284.5 55.5t244.5 156.5l130-129q29-31 70-14 39 17 39 59z"/>
                <rect fill-opacity="0" width="1792" height="1792"/>
            </svg>
        </g>

        <g class="flip-group">
            <svg class="flip-handle flip-horizontal" width="20" height="20" viewBox="0 0 1792 1792" x="10" y="5" xmlns="http://www.w3.org/2000/svg">
                <path d="M1792 896q0 26-19 45l-256 256q-19 19-45 19t-45-19-19-45v-128h-1024v128q0 26-19 45t-45 19-45-19l-256-256q-19-19-19-45t19-45l256-256q19-19 45-19t45 19 19 45v128h1024v-128q0-26 19-45t45-19 45 19l256 256q19 19 19 45z"/>
                <rect fill-opacity="0" width="1792" height="1792"/>
            </svg>

            <svg class="flip-handle flip-vertical" width="20" height="20" viewBox="0 0 1792 1792" x="10" y="30" xmlns="http://www.w3.org/2000/svg">
                <path d="M1216 320q0 26-19 45t-45 19h-128v1024h128q26 0 45 19t19 45-19 45l-256 256q-19 19-45 19t-45-19l-256-256q-19-19-19-45t19-45 45-19h128v-1024h-128q-26 0-45-19t-19-45 19-45l256-256q19-19 45-19t45 19l256 256q19 19 19 45z"/>
                <rect fill-opacity="0" width="1792" height="1792"/>
            </svg>
        </g>

        <g class="remove-group">
            <svg class="remove-handle" width="20" height="20" viewBox="0 0 1792 1792" x="10" y="30" xmlns="http://www.w3.org/2000/svg">
                <path d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z" fill="#fff"/>
            </svg>
        </g>
    </g>
</script>

<main class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="row testing">
                <div class="col-xs-4 controls">
                    <p>
                        <button type="button" class="btn btn-primary add-random-image-layer">Add random image layer</button>
                        <button type="button" class="btn btn-danger clear-screen">Clear screen</button>
                    </p>
                </div>
                <div class="col-xs-8">
                    <div id="layersDump">
                        <ul class="list-unstyled items"></ul>

                        <script type="text/template" id="layersDumpItem">
                            id: <strong><%= id %></strong>
                            x: <strong><%= Math.round(x) %></strong>
                            y: <strong><%= Math.round(y) %></strong>
                            width: <strong><%= Math.round(width) %></strong>
                            height: <strong><%= Math.round(height) %></strong>
                            rotation: <strong><%= Math.round(rotation) %></strong>
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-8">
            <div id="imageEditor"></div>
        </div>
        <div class="col-xs-4">
            <div class="layers">
                <h4>PNG images</h4>
                <div class="png-images">
                    <ul>
                        <li><img src="demo/img/bird.png"></li>
                        <li><img src="demo/img/bunny-1.png"></li>
                        <li><img src="demo/img/bunny-2.png"></li>
                        <li><img src="demo/img/cat.png"></li>
                        <li><img src="demo/img/chick1.png"></li>
                        <li><img src="demo/img/chick2.png"></li>
                        <li><img src="demo/img/chick3.png"></li>
                        <li><img src="demo/img/chicken.png"></li>
                        <li><img src="demo/img/cow.png"></li>
                        <li><img src="demo/img/giraffe.png"></li>
                        <li><img src="demo/img/hippo.png"></li>
                        <li><img src="demo/img/nest.png"></li>
                        <li><img src="demo/img/penguin.png"></li>
                        <li><img src="demo/img/pig.png"></li>
                        <li><img src="demo/img/sheep-b.png"></li>
                        <li><img src="demo/img/sheep-w.png"></li>
                    </ul>
                </div>

                <h4>SVG images</h4>
                <div class="svg-images">
                    <ul>
                        <li><img src="demo/svg/Animal_Number_One.svg"></li>
                        <li><img src="demo/svg/Boy_And_Turtle_clip_art.svg"></li>
                        <li><img src="demo/svg/Cartoon_Elephant.svg"></li>
                    </ul>
                </div>

                <h4>Text layer</h4>
                <div class="text">
                    <div class="form-group">
                        <input type="text" class="layer-text form-control" value="I love SVG!">
                    </div>

                    <div class="form-group">
                        <select class="layer-font form-control">
                            <optgroup label="Google Fonts">
                                <option>Droid Sans</option>
                                <option>Droid Serif</option>
                                <option>Roboto</option>
                                <option>Lobster</option>
                                <option>Poiret One</option>
                                <option>Comfortaa</option>
                                <option>Marck Script</option>
                                <option>Bad Script</option>
                                <option>Press Start 2P</option>
                            </optgroup>

                            <optgroup label="Serif Fonts">
                                <option>Arial, Helvetica, sans-serif</option>
                                <option>"Arial Black", Gadget, sans-serif</option>
                                <option>"Comic Sans MS", cursive, sans-serif</option>
                                <option>Impact, Charcoal, sans-serif</option>
                                <option>"Lucida Sans Unicode", "Lucida Grande", sans-serif</option>
                                <option>Tahoma, Geneva, sans-serif</option>
                                <option>"Trebuchet MS", Helvetica, sans-serif</option>
                                <option>Verdana, Geneva, sans-serif</option>
                            </optgroup>

                            <optgroup label="Monospace Fonts">
                                <option>"Courier New", Courier, monospace</option>
                                <option>"Lucida Console", Monaco, monospace</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="form-group">
                        <input class="slider layer-font-size" type="text"
                               data-slider-min="20" data-slider-max="130"
                               data-slider-step="10" data-slider-value="20">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control layer-text-color color-picker" value="#000000" />
                    </div>

                    <button class="btn btn-default add">Add</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
<script src="js/hammer.min.js?v=3"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- JqueryUI using draggable/droppable functionality for layers -->
<script src="demo/js/vendors/jquery-ui.min.js"></script>

<script src="demo/js/vendors/underscore-min.js"></script>
<script src="demo/js/vendors/backbone-min.js"></script>

<!-- base svgImageEditor scripts -->
<script src="js/svgImageEditor.js?15"></script>

<!-- demo scripts -->
<script src="demo/js/vendors/jquery.slimscroll.min.js"></script>
<script src="demo/js/vendors/select2.full.min.js"></script>
<script src="demo/js/vendors/bootstrap-slider.min.js"></script>
<script src="demo/js/vendors/bootstrap-colorpicker.min.js"></script>
<script src="demo/js/app.js"></script>
<script src="demo/js/dump.js"></script>
<script src="demo/js/demo.js"></script>

</body>
</html>