<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>SVG image editor</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- base svgImageEditor styles -->
    <link href="SVG-image-editor-master/css/svgImageEditor.css" rel="stylesheet" />

    <!-- demo styles -->
    <link href="SVG-image-editor-master/demo/css/select2.min.css" rel="stylesheet" />
    <link href="SVG-image-editor-master/demo/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="SVG-image-editor-master/demo/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="SVG-image-editor-master/demo/css/demo.css" rel="stylesheet" />
</head>

<body>

<header class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header"><a class="navbar-brand" href="SVG-image-editor-master/#">SVG image editor</a></div>
    </nav>
</header>

<script type="text/template" id="constructorLayer">
    <g xmlns="http://www.w3.org/2000/svg">
        <rect class="draggable-handle" fill-opacity="0" stroke-width="<%=strokeSize%>" stroke-miterlimit="<%=strokeSize%>" width="200" height="200"/>

        <g class="resizable-group">
            <rect class="ul-resizable-handle" x="-15" y="-15" stroke-width="<%=strokeSize%>" stroke-miterlimit="<%=strokeSize%>" width="<%=handleSize%>" height="<%=handleSize%>"/>
            <rect class="ur-resizable-handle" x="185" y="-15" stroke-width="<%=strokeSize%>" stroke-miterlimit="<%=strokeSize%>" width="<%=handleSize%>" height="<%=handleSize%>"/>
            <rect class="ll-resizable-handle" x="-15" y="185" stroke-width="<%=strokeSize%>" stroke-miterlimit="<%=strokeSize%>" width="<%=handleSize%>" height="<%=handleSize%>"/>
            <rect class="lr-resizable-handle" x="185" y="185" stroke-width="<%=strokeSize%>" stroke-miterlimit="<%=strokeSize%>" width="<%=handleSize%>" height="<%=handleSize%>"/>
        </g>
        <g class="rotatable-group">
            <circle class="rotatable-handle" stroke-width="<%=strokeSize%>" stroke-miterlimit="<%=strokeSize%>" cx="0" cy="<%=rotationHandleYOffset%>" r="<%=rotationHandleRadius%>"/>
            <line fill="none" stroke-width="<%=strokeSize%>" stroke-miterlimit="<%=strokeSize%>" x1="0" y1="-25" x2="0" y2="0"/>
        </g>
    </g>
</script>

<main class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="row testing">
                <div class="col-xs-4 controls">
                    <p>
                        <button type="button" class="btn btn-primary add-random-image-layer">Add random image layer</button>
                        <button type="button" class="btn btn-danger clear-screen">Clear screen</button>
                    </p>
                </div>
                <div class="col-xs-8">
                    <div id="layersDump">
                        <ul class="list-unstyled items"></ul>

                        <script type="text/template" id="layersDumpItem">
                            id: <strong><%= id %></strong>
                            x: <strong><%= Math.round(x) %></strong>
                            y: <strong><%= Math.round(y) %></strong>
                            width: <strong><%= Math.round(width) %></strong>
                            height: <strong><%= Math.round(height) %></strong>
                            rotation: <strong><%= Math.round(rotation) %></strong>
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-8">
            <div id="imageEditor"></div>
        </div>
        <div class="col-xs-4">
            <div class="layers">
                <h4>PNG images</h4>
                <div class="png-images">
                    <ul>
                        <li><img src="SVG-image-editor-master/demo/img/bird.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/bunny-1.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/bunny-2.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/cat.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/chick1.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/chick2.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/chick3.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/chicken.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/cow.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/giraffe.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/hippo.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/nest.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/penguin.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/pig.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/sheep-b.png"></li>
                        <li><img src="SVG-image-editor-master/demo/img/sheep-w.png"></li>
                    </ul>
                </div>

                <h4>SVG images</h4>
                <div class="svg-images">
                    <ul>
                        <li><img src="SVG-image-editor-master/demo/svg/Animal_Number_One.svg"></li>
                        <li><img src="SVG-image-editor-master/demo/svg/Boy_And_Turtle_clip_art.svg"></li>
                        <li><img src="SVG-image-editor-master/demo/svg/Cartoon_Elephant.svg"></li>
                    </ul>
                </div>

                <h4>Text layer</h4>
                <div class="text">
                    <div class="form-group">
                        <input type="text" class="layer-text form-control" value="I love SVG!">
                    </div>

                    <div class="form-group">
                        <select class="layer-font form-control">
                            <optgroup label="Google Fonts">
                                <option>Droid Sans</option>
                                <option>Droid Serif</option>
                                <option>Roboto</option>
                                <option>Lobster</option>
                                <option>Poiret One</option>
                                <option>Comfortaa</option>
                                <option>Marck Script</option>
                                <option>Bad Script</option>
                                <option>Press Start 2P</option>
                            </optgroup>

                            <optgroup label="Serif Fonts">
                                <option>Arial, Helvetica, sans-serif</option>
                                <option>"Arial Black", Gadget, sans-serif</option>
                                <option>"Comic Sans MS", cursive, sans-serif</option>
                                <option>Impact, Charcoal, sans-serif</option>
                                <option>"Lucida Sans Unicode", "Lucida Grande", sans-serif</option>
                                <option>Tahoma, Geneva, sans-serif</option>
                                <option>"Trebuchet MS", Helvetica, sans-serif</option>
                                <option>Verdana, Geneva, sans-serif</option>
                            </optgroup>

                            <optgroup label="Monospace Fonts">
                                <option>"Courier New", Courier, monospace</option>
                                <option>"Lucida Console", Monaco, monospace</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="form-group">
                        <input class="slider layer-font-size" type="text"
                               data-slider-min="20" data-slider-max="130"
                               data-slider-step="10" data-slider-value="20">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control layer-text-color color-picker" value="#000000" />
                    </div>

                    <button class="btn btn-default add">Add</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- JqueryUI using draggable/droppable functionality for layers -->
<script src="SVG-image-editor-master/demo/js/vendors/jquery-ui.min.js"></script>

<script src="SVG-image-editor-master/demo/js/vendors/underscore-min.js"></script>
<script src="SVG-image-editor-master/demo/js/vendors/backbone-min.js"></script>
<!--<script src="SVG-image-editor-master/demo/js/vendors/backbone-associations-min.js"></script>-->

<!-- base svgImageEditor scripts -->
<script src="SVG-image-editor-master/js/svgImageEditor.js"></script>

<!-- demo scripts -->
<script src="SVG-image-editor-master/demo/js/vendors/jquery.slimscroll.min.js"></script>
<script src="SVG-image-editor-master/demo/js/vendors/select2.full.min.js"></script>
<script src="SVG-image-editor-master/demo/js/vendors/bootstrap-slider.min.js"></script>
<script src="SVG-image-editor-master/demo/js/vendors/bootstrap-colorpicker.min.js"></script>
<script src="SVG-image-editor-master/demo/js/app.js"></script>
<script src="SVG-image-editor-master/demo/js/dump.js"></script>
<script src="SVG-image-editor-master/demo/js/demo.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-21368610-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>